{% extends "header.html" %}

{% block content %}

{% load staticfiles %}
<div class="container">
		<div class="row">
			<section class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-6">
				<img class="img-responsive img-circle" width=50% height=50% src="{% static 'getServed/img/itlogo.jpg'%}">
			</section>
			
			<section class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-6">
				<p>This is a bunch of info about the restaurant</p>
			</section>
				
			<section class="col-xs-12">
				<img src="{% static 'getServed/img/mexlogo.jpg'%}">
			</section>
		</div>
	</div>

{% endblock %}